<!DOCTYPE html>
<html class="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Rotten Search</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/font.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-app="rottenSearch" ng-controller="SearchController">
		<div class="nav">
			<!-- <a href="" class="nav__back-to-search">
				<i class="icon icon--back"></i>
				Back to search
			</a> -->
			<h2 class="nav__tagline">
				<i class="icon icon--brand"></i>
				We sorta like movies
			</h2>	
		</div>

		<div class="search">
			<h3 class="search__heading">Search for your favorite movie title and have fun!</h3>
			<p class="search__description">Enter a movie title below and click search to discover great information about your favorite movies.</p>
			<form class="search__form">
				<div class="search__input-visual clearfix">
					<i class="icon icon--search">ico</i>
					<button type="submit" class="search__submit">Search</button>
					<div class="search__query-container">
						<input
							type="text"
							class="search__query"
							placeholder="Ex. pulp fiction, rugrats"
							ng-model="search.query">
					</div>
				</div>
			</form>
		</div>

		<div class="movie-list">
			<div class="movie-list__nav">
				<a href="" class="movie-list__nav-right">right</a>
				<a href="" class="movie-list__nav-left">left</a>
			</div>
			<div class="movie-list__list-container">
				<ul class="movie-list__list">
					<li class="movie-list__item" ng-repeat="movie in movies">
						<img ng-src="{{movie.posters.detailed}}" class="movie-list__img">
					</li>
				</ul>
			</div>
		</div>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
